<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoeO_88ODself2xiG9UK9X5hPKvwr3CO4</string>
	<key>GCM_SENDER_ID</key>
	<string>1095873096581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pepdeal.infotech.PepdealIOS</string>
	<key>PROJECT_ID</key>
	<string>pepdeal-1251f</string>
	<key>STORAGE_BUCKET</key>
	<string>pepdeal-1251f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095873096581:ios:09c71cbce5354e51fe72ec</string>
	<key>DATABASE_URL</key>
	<string>https://pepdeal-1251f-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>